---
import type { CollectionEntry } from "astro:content";
import LinkedBadge from "@/components/LinkedBadge.astro";
import { formatDate } from "@/lib/utils";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const formattedDate = formatDate(post.data.date);
---

<section class="mb-8">
  <p class="text-sm text-gray-600 mb-2">{formattedDate}</p>
  <h1 class="font-semibold text-3xl">{post.data.title}</h1>
  {post.data.tags?.length ? (
    <p class="mt-3 text-sm text-gray-600">
      <span class="mr-2">Tags:</span>
      <span class="inline-flex flex-wrap gap-2 align-middle">
        {post.data.tags.map((tag) => (
          <LinkedBadge
            href={`/tags/${tag}`}
            key={tag}
            class="text-xs text-foreground bg-gray-200"
          >
            {tag}
          </LinkedBadge>
        ))}
      </span>
    </p>
  ) : null}
</section>
